:root {
  --primary-color: #000000;
  --secondary-color:#213f26  ;
  --secondary-colorblur:#121713b1  ;
  --tertiary-colorblur:#0000004a  ;
  --tertiary-color: ;
  --secondarry-text: #070807;
  --color-yellow: #e3b448;
}

* {
  padding: 0;
  margin: 0;
}

a{
  color: black !important;
}
a:hover{
  text-decoration: none !important;
}
.first-section {
  background-image: url(../../assets/supercar3.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-attachment: fixed;
  height: auto;
}
.yellow-color{
  background-color: var(--color-yellow) !important;
}
.aaa {
  height: 50px;
  z-index: 1000;
  display: flex !important;
  justify-content: end;
  align-items: center;
  background-color:var(--secondary-color);
  border: none;
}
.wrapper {
  position: relative;
}
.logo {
  height: 30px;
  width: 50px;
}
.body1 img {
  height: 500px;
}
.b {
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 8px 3px #232323;
  
}
.b h2 {
  font-size: px;
}
.d button {
  transform: translate(10px, 10px);
}
.input-group-text img {
  height: 20px;
  width: auto;
  background-color: transparent;
}
.hamburgerdiv1{ 
  transform: rotate( 40deg) translate(-8px, 16px) ;
  opacity: 1;

  
}
.hamburgerdiv2{ 
  opacity: 0; 
}
.hamburgerdiv3{ 
  transform: rotate(-40deg) translate(-8px, -16px);
  opacity: 1;
   

}
.div1,.div2,.div3{
  border: 1px solid #ffffff;
  width: 32px;
  margin-bottom: 6px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.second-section{
  max-width: 900px;
}

.second-section-child{
  background-color: rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 8px 3px #232323;

  
}
.lightback{
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 3px #e0e0e0;
}
.box-shadow{
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.441);

}
.second-section-child > div {
  margin: 0px 3px;
}
.input1 input {
  border-radius: 15px;
}

.whitetext {
  color: #f2f2f2 !important;
}
.greenerbackground {
  background-color: var(--secondary-color) !important;
}
.greentext{
  color:var(--secondarry-text) !important;
}
.lightGreen {
  background-color: #89c293 !important;
}
.e{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto ;
  gap:20px;
}
.e > div {
  background-color:var(--secondary-colorblur);
  width: 200px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
.e img {
  height: 60px;
  margin-bottom: 15px;
}
.third-section {
  background-image: url(../../assets/car5.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-attachment: fixed;
}
/* .fourth-section {
  background-image: url(../../assets/car3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */
.fourth-section > div:first-of-type {
  height: 130px;
}
.f {
  max-width: 600px;
}
.hideclick{
  display: none;

}
.hidd {
  display: none !important;
}
.kk {
  display: none;
  font-size: 14px; 
 

  border-radius: 3px;
}

.notification img {
  height: 20px;
  width: auto;
  color: white;
}
.noticon {
  position: absolute;
  top: -8px;
  right: -6px;
}
.noticon-wrap {
  position: relative;
}
.d-flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flexx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flexxx {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
}
.notp {
  padding: 5px;
  border-radius: 40%;
  height: 20px;
  background-color: rgba(146, 37, 37, 0.877), 0.877);
  font-size: 9px;
  color: #f2f2f2;
}
.secondp {

  background-color: #ffffff;
  display: flex;
  width: 100%;
  /* height: 100vh; */
}
table{
  height: 500px;
  box-shadow: 0px 0px 8px 3px #e0e0e0;

}
.secondp > div:first-of-type {
  flex-grow: 1;
  flex-shrink: 3;
}
.secondp > div:last-of-type {
  flex-grow: 20;
}
.g img {
  height: 25px;
  margin-right: 10px;
}
.g{
  font-size: 14px;
  font-weight: 300;
}
.g > div {
  padding: 15px 13px;
}
.h {
  max-width: 1050px;
}
.m > div {
  background-color: #ffffff;
  margin-bottom: px;
  padding: 0px 18px;
}
  
.notifybox{
  background-color: #ffffff;
   overflow-y: scroll;
   height: 220px;
   box-shadow: 0px 0px 8px 3px #e0e0e0;
   
  }
  ::-webkit-scrollbar{
    background-color: #b5b5b5;
    width: 0px;
    
   }
  .notifybox::-webkit-scrollbar{
    background-color: #89c293;
    width: 4px;
    
    
  }
  .notifybox::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    height: 4px;
  }
  .table-control-1::-webkit-scrollbar{
    width: 1px;
    background-color:transparent;
  }
  /*   
  .table-control-1::-webkit-scrollbar-thumb{
    
    width: 2px;
    background-color: #ffffff;
    box-shadow: 0px 0px  3px 5px #f8f6f689;
  }
  .table-control-1::-webkit-scrollbar-track{
background-color: rgb(214, 214, 214);
  } */

  .form{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
 width: 100%;
   margin: auto !important;
    background-image: url(../../assets/supercar3.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
   

}
.carbg{
  background-image: url(../../assets/supercar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

}
 .form__{
  width: 400px;
    height: auto;
  
    border-radius: 10px;
    padding: 0px 15px;
} 
.login-h{
  height: 100vh !important;
}
.form h3{
    text-align: center;
}
::placeholder{
  color: white;
}
.form input[type="text"],input[type="password"],input[type="email"]{
    margin-top: 30px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    text-indent: 10px;
    outline: none;
    color: white;
    border-radius: 5px;
}

li{
  list-style:none;
}
/* FONTSTYLES */
.poppinsmeduim{

font-family: 'poppins', sans-serif;
font-weight: 500;
}
.poppinsemibold{

font-family: 'poppins', sans-serif;
font-weight: 600;
}
.ralewaymeduim{

  font-family: 'raleway', sans-serif;
  font-weight: 500;
  }
.ralewaysemibold{

  font-family: 'raleway', sans-serif;
  font-weight: 600;
  }
.robotobold{

  font-family: 'roboto', sans-serif;
  font-weight: 700;
  }
  .robotoregular{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
  }
   /* FONTSIZE */
   .fontsize14{
    font-size: 14px;
  }
  .fontsize12{
    font-size: 12px;
  }
  .fontsize10{
    font-size: 10px;
  }
  @media screen and (max-width: 1300px) {


    .second-section{
      max-width: 900px;
    }
    
  }
 

@media screen and (max-width: 1100px) {
  .hideclick{
    display: none;
  
  }
  .tohideclass {
    display: none !important;
  }
  .hidd {
    display: block !important;
  }
  .kk { 
    display: inline-block !important;
  }
  .g {
    flex-direction: column;
  }
  .h {
    width: 600px;
  }
  .j {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 100vh;
  }

}

.fit-size{
  height: 500px
}
@media screen and (max-width: 800px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px !important;
    
  }
  .e{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    gap:20px;
  }

  .q {
    height: 100vh;
    background-color: aqua;
  }
  .table-control-1 {
    width: 600px !important;
    overflow-x: scroll;
    margin: auto;
  }
  .table-control-1 table {
    width: 700px !important;
  }
 
 
}
.fit-size{
  height: auto;
}
@media screen and (max-width: 600px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 19px !important;
  }
  .h {
    max-width: 300px;
  }
  .table-control {
    overflow-x: scroll;
  }
  .table-control-1 {
    width: 400px !important;
    overflow-x: scroll;
    margin: auto;
  }
  
  .table-control-1 table {
    width: 700px !important;
  }
  .form__{
    width: 100%;
     
  } 
  
}

@media screen and (max-width: 400px) {
  .l {
    min-width: 300px;
  }
  .table-control-1 {
    width: 290px !important;
    overflow-x: scroll;
    margin: auto;
  }
  .table-control-1 table {
    width: 700px !important;   
  }
}
