:root {
  --primary-color: #112114;
  --secondary-color: ;
  --tertiary-color: ;
}

* {
  padding: 0;
  margin: 0;
}
a{
  color: black !important;
}  
a:hover{
  text-decoration: none !important;
  padding: 2px 4px;
}
.first-section {
  background-color: var(--primary-color);
  height: auto;
}
.aaa {
  height: 50px;
  z-index: 1000;
  display: flex !important;
  justify-content: end;
  align-items: center;
  background-color: #89c293;
}
.wrapper {
  background-color: var(--primary-color);
  position: relative;
}
.logo {
  height: 30px;
  width: 50px;
}
.body1 img {
  height: 500px;
}
.b {
  border: 1px solid #f2f2f2;
}
.b h2 {
  font-size: px;
}
.d button {
  transform: translate(10px, 10px);
}
.input-group-text img {
  height: 20px;
  width: auto;
  background-color: transparent;
}

.second-section-child {
  background-color: #f2f2f2;
}
.lightback{
  background-color: #f2f2f2;
}
.second-section-child > div {
  margin: 0px 3px;
}
.input1 input {
  border-radius: 15px;
}

.whitetext {
  color: #f2f2f2 !important;
}
.greenerbackground {
  background-color: #213f26 !important;
}
.lightGreen {
  background-color: #89c293 !important;
}
.e > div {
  background-color: #132516;
  width: 200px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
.e img {
  height: 60px;
  margin-bottom: 15px;
}
.third-section {
  background-image: url(../../assets/unsplash_ciN8mnrlvFY.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  background-repeat: fixed;
}
.fourth-section > div:first-of-type {
  height: 130px;
}
.f {
  max-width: 600px;
}
.hideclick{
  display: none;

}
.hidd {
  display: none !important;
}
.kk {
  display: none;
}
.notification img {
  height: 20px;
  width: auto;
  color: white;
}
.noticon {
  position: absolute;
  top: -8px;
  right: -6px;
}
.noticon-wrap {
  position: relative;
}
.d-flexx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flexxx {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: center;
}
.notp {
  padding: 5px;
  border-radius: 40%;
  height: 20px;
  background-color: rgb(255, 24, 24);
  font-size: 9px;
  color: #f2f2f2;
}
.secondp {
  
  background-color: #ffffff;
  display: flex;
  width: 100%;
}
.secondp > div:first-of-type {
  flex-grow: 1;
  flex-shrink: 3;
}
.secondp > div:last-of-type {
  flex-grow: 20;
}
.g img {
  height: 25px;
  margin-right: 10px;
}
.g > div {
  padding: 15px 13px;
}
.h {
  max-width: 1050px;
}
.m > div {
  background-color: #f2f2f2;
  margin-bottom: px;
  padding: 0px 18px;
}
.j {
}
/* .footerr {
  position: fixed;
  bottom: 0px;
} */
.notifybox{
  background-color: #f2f2f2;
   overflow-y: scroll;
   height: 220px;
   
  }
  ::-webkit-scrollbar{
    background-color: #b5b5b5;
    width: 0px;
    
   }
  .notifybox::-webkit-scrollbar{
    background-color: #89c293;
    width: 4px;
    
    
  }
  .notifybox::-webkit-scrollbar-thumb{
    background-color: #f2f2f2;
    height: 4px;
  }


  .form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 width: 100%;
   margin: auto !important;
    font-family: Arial, Helvetica, sans-serif;

}
 .form__{
  width: 500px;
    height: auto;
    background-color:#f2f2f2;
    border-radius: 10px;
    
    padding: 0px 15px;
} 
.form h1{
    text-align: center;
}
#output,#output2,#output3{
    padding: 3px 5px;
}

.form input[type="text"],input[type="password"],input[type="email"]{
    margin-top: 30px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    text-indent: 10px;
    outline: none;
    /* color: white; */
    border-radius: 5px;
}
.form::placeholder{
    /* color:#f2f2f2; */
    font-family:cursive;
} 


@media screen and (max-width: 1100px) {
  .tohideclass {
    display: none !important;
  }
  .hidd {
    display: block !important;
  }
  .kk {
    display: inline-block !important;
  }
  .g {
    flex-direction: column;
  }
  .footerr {
    font: size 12px !important;
  }
  .h {
    width: 600px;
  }
  .j {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1001;
    height: 100vh;
  }
}
.secondp {
  position: relative;
}
@media screen and (max-width: 800px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px !important;
  }

  .q {
    height: 100vh;
    background-color: aqua;
  }
  .table-control-1 {
    width: 600px !important;
    overflow-x: scroll;
    margin: auto;
  }
  .table-control-1 table {
    width: 700px !important;
  }
}
@media screen and (max-width: 600px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 19px !important;
  }
  .h {
    max-width: 300px;
  }
  .table-control {
    overflow-x: scroll;
  }
  .table-control-1 {
    width: 400px !important;
    overflow-x: scroll;
    margin: auto;
  }
  .table-control-1 table {
    width: 700px !important;
  }
  .form__{
    width: 100%;
     
  } 
}

@media screen and (max-width: 390px) {
  .l {
    min-width: 200px;
  }
  .table-control-1 {
    width: 300px !important;
    overflow-x: scroll;
    margin: auto;
  }
  .table-control-1 table {
    width: 700px !important;
  }
}
